<h1>Editing Vocabulary</h1>

<%= render 'form', vocabulary: @vocabulary %>

<%= link_to 'Show', [@study_plan, @vocabulary_set, @vocabulary] %> |
<%= link_to 'Back', study_plan_vocabulary_set_vocabularies_path(@study_plan, @vocabulary_set) %>
